{{template "base/head" .}}
<div class="page-content home">
  <div class="ui stackable middle very relaxed page grid">
    <div class="sixteen wide center aligned centered column">
      <h1 class="hero ui icon header">
        {{svg "octicon-mark-github" 72}}
        <div class="content">
          Welcome to DevOps Assignment Test Gitea
          <div class="sub header">
            Self-hosted Git service · ELTE MSc DevOps Assignment 2026
          </div>
        </div>
      </h1>
    </div>
  </div>
</div>
{{template "base/footer" .}}
